<form (submit)="onFormSubmit($event)">
  <div class="form-group">
    <label for="search">Recherche:</label>
    <input [(ngModel)]="searchValue" name="searchValue" type="text" class="form-control" id="search"
      placeholder="Entrez le nom de l'étudiant">
  </div>
  <button type="submit" class="btn btn-primary">Rechercher</button>
</form>
<div class="margin">
  <div *ngFor="let etudiant of filteredEtudiants" class="container">
    <span>Nom: {{ etudiant._nom }}</span>
    <span>Prénom: {{ etudiant._prenom }}</span>
    <span>Rue: {{ etudiant.rue }}</span>
    <span>Code postal: {{ etudiant._cp }}</span>
    <span>Ville: {{ etudiant._ville }}</span>
    <span>Courriel: {{ etudiant.courriel }}</span>
    <span>Genre: {{ etudiant._genre }}</span>
    <span>Age: {{ etudiant._age }}</span>
    <span>IdCandi: {{ etudiant._idCandi }}</span>
  </div>
</div>
