form {
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 1em;
  margin-top: 1em;
}

button {
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container {
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
}

span {
  margin-bottom: 0.5em;
  padding: 5px;
}

.margin {
  margin-bottom: 75px;
}
